%h1 
  Webscrapper PCEL


  = simple_form_for(@search_product, url: search_product_index_path(@search_product), :validation => true) do |f|
    .form-control
      = f.input :product, label: "Ingresa el producto que deseas buscar"
    = f.collection_radio_buttons :sort, [["asc", 'Ascendiente'] ,["dsc", 'Descendiente']], :first, :last
    = f.input :quantity, label: "Cantidad de productos que deseas ver"
    = f.button :submit